# Document source
SOURCE_DIR=./data/source

# ChromaDB persistence
CHROMA_DIR=./data/chroma_db

# Chroma collection
COLLECTION_NAME=TcU

TOP_K=5

# Embedding model
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Chunking configuration
CHUNK_SIZE=1000
CHUNK_OVERLAP=200

LIBREOFFICE_PATH=/Applications/LibreOffice.app/Contents/MacOS/soffice

RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
RERANKER_DEVICE=cpu

# Gemini Generation
GOOGLE_API_KEY=xxxxxx
GEMINI_MODEL=gemini-2.5-flash
GEMINI_TEMPERATURE=0
