
langchain
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-google-genai

chromadb
sentence-transformers
tiktoken

python-dotenv
pypdf
docx2txt
fonttools

sentence-transformers

